<div *ngIf="vazio;else editarUsuario">
  <h3 style="padding: 2% 2% 0% 2%">Novo Usuário</h3>
</div>
<ng-template #editarUsuario>
  <h3 style="padding: 2% 2% 0% 2%">Editar Usuário</h3>
</ng-template>

<form style="padding: 0% 2% 0% 2%" class="form-row" #formValidate="ngForm">
  <div class="row">
    <div class="col">
      <label for="id" class="form-label">Id:</label>
      <input type="number" class="form-control" name="id" id="id" [(ngModel)]="usuario.id" placeholder=""
        readonly="true">
    </div>
    <div class="col">
      <label for="Login" class="form-label">Login:</label>
      <span *ngIf="loginValidate.invalid" style="color: red; font-size: 15px;">*</span>
      <input type="text" class="form-control" required="true" name="login" id="login" #loginValidate="ngModel" [(ngModel)]="usuario.login" placeholder="Insira o Login">
    </div>
    <div class="col">
      <label for="Senha" class="form-label">Senha:</label>
      <span *ngIf="senhaValidate.invalid" style="color: red; font-size: 15px;">*</span>
      <input type="password" class="form-control" required="true" name="senha" id="senha" #senhaValidate="ngModel" [(ngModel)]="usuario.senha" placeholder="Insira a Senha">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="Nome" class="form-label">Nome:</label>
      <span *ngIf="nomeValidate.invalid" style="color: red; font-size: 15px;">*</span>
      <input type="text" class="form-control" required="true" name="nome" id="nome" #nomeValidate="ngModel" [(ngModel)]="usuario.nome" placeholder="Insira o Nome">
    </div>
    <div class="col">
      <label for="Sobrenome" class="form-label">Sobrenome:</label>
      <span *ngIf="sobrenomeValidate.invalid" style="color: red; font-size: 15px;">*</span>
      <input type="text" class="form-control" required="true" name="sobrenome" id="sobrenome" #sobrenomeValidate="ngModel" [(ngModel)]="usuario.sobrenome"
      placeholder="Insira o Sobrenome">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="cpf" class="form-label">CPF:</label>
      <span *ngIf="cpfValidate.invalid" style="color: red; font-size: 15px;">*</span>
      <input type="text" class="form-control" required="true" name="cpf" id="cpf" #cpfValidate="ngModel" [(ngModel)]="usuario.cpf" placeholder="Insira o CPF">
    </div>
    <div class="col">
      <label for="Idade" class="form-label">Idade:</label>
      <span *ngIf="idadeValidate.invalid" style="color: red; font-size: 15px;">*</span>
      <input type="number" class="form-control" required="true" name="idade" id="idade" #idadeValidate="ngModel" [(ngModel)]="usuario.idade" placeholder="Insira a Idade">
    </div>
  </div>
  <div class="col">
    <label for="Email" class="form-label">E-mail:</label>
    <span *ngIf="emailValidate.invalid" style="color: red; font-size: 15px;">*</span>
    <input type="email" class="form-control" required="true" name="email" id="email" #emailValidate="ngModel" [(ngModel)]="usuario.email" placeholder="Insira o Email">
  </div>

  <div class="form-row">
  <div class="form-group col-md-3">
    <button type="button" style="margin: 5px 5px" class="btn btn-outline-success" [routerLink]="['/usuarioList']" routerLinkActive="router-link-active">Voltar</button>
    <button type="button" style="margin: 5px 5px" class="btn btn-outline-success" (click)="novo()">Novo</button>
    <button type="button" style="margin: 5px 5px" class="btn btn-success" [disabled]="formValidate.invalid" (click)="cadastrarUsuario()">Salvar</button>
  </div>

</div>
</form>
