<nav class="navbar navbar-dark bg-dark" [hidden]="esconderBarra()">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="router-link-active" >Inicio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" [routerLink]="['/cadastro']" routerLinkActive="router-link-active" >Novo Usuário</a>
        <a class="nav-link active" aria-current="page" [routerLink]="['/usuarioList']" routerLinkActive="router-link-active" >Listar Usuarios</a>
        <a class="nav-link" (click)="sair()">Sair</a>
      </div>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>



